*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, Helvetica, sans-serif;
background:#e9e9e9;
}



header{
background:#198754;
color:white;
padding:15px;
}

header nav a{
color:white;
margin-left:15px;
text-decoration:none;
font-weight:bold;
}



.container{
background:rgb(143, 67, 67);
padding:30px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
margin-top:20px;
}



img{
width:100%;
border-radius:5px;
}



input{
width:100%;
padding:10px;
margin-top:10px;
border-radius:5px;
border:1px solid #ccc;
}

button{
margin-top:10px;
padding:10px;
background:#198754;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#157347;
}



footer{
background:#198754;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}
